<a href="https://colab.research.google.com/github/ynnn01/Data-Viz-/blob/main/demo/gen2_vnstock_demo_index_all_functions_testing_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a target="_blank" href="https://colab.research.google.com/github/thinh-vu/vnstock/blob/beta/demo/gen2_vnstock_demo_index_all_functions_testing_2023.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# I. Introduction

B·∫°n c√≥ th·ªÉ tham kh·∫£o video h∆∞·ªõng d·∫´n t·ªïng quan v·ªÅ vnstock ƒë·ªÉ b·∫Øt ƒë·∫ßu d·ªÖ d√†ng [t·∫°i ƒë√¢y](https://www.youtube.com/watch?v=6kP2TTtEY9Y&ab_channel=LEarnAnything)

In [ ]:
# C√†i ƒë·∫∑t th∆∞ vi·ªán vnstock t·ª´ Pypi - b·∫£n ·ªïn ƒë·ªãnh | Install vnstock from Pypi - stable version
!pip install --upgrade vnstock

In [ ]:
from vnstock import * #import all functions

# II. Functions grouping

Vi: Thu g·ªçn to√†n b·ªô code ·ªü m·ª•c n√†y, ch·∫°y code m·ªôt l·∫ßn duy nh·∫•t, n·∫øu code ch·∫°y ƒë·∫øn cu·ªëi file th√†nh c√¥ng th√¨ th∆∞ vi·ªán vnstock ho·∫°t ƒë·ªông b√¨nh th∆∞·ªùng. **Google Colab ƒë∆∞·ª£c ch·ªçn l√† m√¥i tr∆∞·ªùng ti√™u chu·∫©n ƒë·ªÉ s·ª≠ d·ª•ng vnstock v√† debug l·ªói.**

En: `Collapse all the code in this section, run the code only once, if the code runs to the end of the file successfully, then the vnstock library will work normally in most cases`

## 2.1. Stock listing

#### üì∞ All listing companies

In [ ]:
listing_companies()

,ticker,comGroupCode,organName,organShortName,organTypeCode,comTypeCode,icbName,icbNamePath,sector,industry,...,VNCOND,VNCONS,VNENE,VNFIN,VNHEAL,VNIND,VNIT,VNMAT,VNREAL,VNUTI
0,VVS,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn ƒê·∫ßu t∆∞ Ph√°t tri·ªÉn M√°y Vi·ªát Nam,ƒê·∫ßu t∆∞ Ph√°t tri·ªÉn M√°y Vi·ªát Nam,DN,CT,S·∫£n xu·∫•t √¥ t√¥,H√†ng Ti√™u d√πng/√î t√¥ v√† ph·ª• t√πng/√î t√¥ v√† ph·ª• t√π...,H√†ng Ti√™u d√πng,√î t√¥ v√† ph·ª• t√πng,...,False,False,False,False,False,False,False,False,False,False
1,XDC,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn X√¢y d·ª±ng C√¥ng tr√¨nh T√¢n C·∫£ng,X√¢y d·ª±ng C√¥ng tr√¨nh T√¢n C·∫£ng,DN,CT,X√¢y d·ª±ng,C√¥ng nghi·ªáp/X√¢y d·ª±ng v√† V·∫≠t li·ªáu/X√¢y d·ª±ng v√† V...,C√¥ng nghi·ªáp,X√¢y d·ª±ng v√† V·∫≠t li·ªáu,...,False,False,False,False,False,False,False,False,False,False
2,HSV,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn T·∫≠p ƒëo√†n HSV Vi·ªát Nam,Gang Th√©p H√† N·ªôi,DN,CT,Th√©p v√† s·∫£n ph·∫©m th√©p,Nguy√™n v·∫≠t li·ªáu/T√†i nguy√™n C∆° b·∫£n/Kim lo·∫°i/Th√©...,Nguy√™n v·∫≠t li·ªáu,T√†i nguy√™n C∆° b·∫£n,...,False,False,False,False,False,False,False,False,False,False
3,CST,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn Than Cao S∆°n - TKV,Than Cao S∆°n - TKV,DN,CT,Khai th√°c Than,Nguy√™n v·∫≠t li·ªáu/T√†i nguy√™n C∆° b·∫£n/Khai kho√°ng/...,Nguy√™n v·∫≠t li·ªáu,T√†i nguy√™n C∆° b·∫£n,...,False,False,False,False,False,False,False,False,False,False
4,BVL,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn BV Land,BV Land,DN,CT,"T∆∞ V·∫•n, ƒê·ªãnh gi√°, M√¥i gi·ªõi B·∫•t ƒë·ªông s·∫£n","T√†i ch√≠nh/B·∫•t ƒë·ªông s·∫£n/B·∫•t ƒë·ªông s·∫£n/T∆∞ V·∫•n, ƒê·ªã...",T√†i ch√≠nh,B·∫•t ƒë·ªông s·∫£n,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1607,XMP,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn Th·ªßy ƒëi·ªán Xu√¢n Minh,Th·ªßy ƒëi·ªán Xu√¢n Minh,DN,CT,S·∫£n xu·∫•t & Ph√¢n ph·ªëi ƒêi·ªán,"Ti·ªán √≠ch C·ªông ƒë·ªìng/ƒêi·ªán, n∆∞·ªõc & xƒÉng d·∫ßu kh√≠ ƒë...",Ti·ªán √≠ch C·ªông ƒë·ªìng,"ƒêi·ªán, n∆∞·ªõc & xƒÉng d·∫ßu kh√≠ ƒë·ªët",...,False,False,False,False,False,False,False,False,False,False
1608,YBC,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn Xi mƒÉng v√† Kho√°ng s·∫£n Y√™n B√°i,Xi mƒÉng v√† Kho√°ng s·∫£n Y√™n B√°i,DN,CT,V·∫≠t li·ªáu x√¢y d·ª±ng & N·ªôi th·∫•t,C√¥ng nghi·ªáp/X√¢y d·ª±ng v√† V·∫≠t li·ªáu/X√¢y d·ª±ng v√† V...,C√¥ng nghi·ªáp,X√¢y d·ª±ng v√† V·∫≠t li·ªáu,...,False,False,False,False,False,False,False,False,False,False
1609,YBM,VNINDEX,C√¥ng ty C·ªï ph·∫ßn Kho√°ng s·∫£n C√¥ng nghi·ªáp Y√™n B√°i,Kho√°ng s·∫£n CN Y√™n B√°i,DN,CT,Khai kho√°ng,Nguy√™n v·∫≠t li·ªáu/T√†i nguy√™n C∆° b·∫£n/Khai kho√°ng/...,Nguy√™n v·∫≠t li·ªáu,T√†i nguy√™n C∆° b·∫£n,...,False,False,False,False,False,False,False,False,False,False
1610,YEG,VNINDEX,C√¥ng ty C·ªï ph·∫ßn T·∫≠p ƒëo√†n Yeah1,T·∫≠p ƒëo√†n Yeah1,DN,CT,Gi·∫£i tr√≠ & Truy·ªÅn th√¥ng,D·ªãch v·ª• Ti√™u d√πng/Truy·ªÅn th√¥ng/Truy·ªÅn th√¥ng/Gi...,D·ªãch v·ª• Ti√™u d√πng,Truy·ªÅn th√¥ng,...,False,False,False,False,False,False,False,False,False,False
1611,YTC,UpcomIndex,C√¥ng ty C·ªï ph·∫ßn Xu·∫•t nh·∫≠p kh·∫©u Y t·∫ø Th√†nh ph·ªë ...,XNK Y t·∫ø TP.HCM,DN,CT,D·ª•ng c·ª• y t·∫ø,D∆∞·ª£c ph·∫©m v√† Y t·∫ø/Y t·∫ø/Thi·∫øt b·ªã v√† D·ªãch v·ª• Y t...,D∆∞·ª£c ph·∫©m v√† Y t·∫ø,Y t·∫ø,...,False,False,False,False,False,False,False,False,False,False

## 2.2. üí¥ Fundamental Analysis

### Company profile

#### Company overview

In [ ]:
company_overview('TCB')

,exchange,shortName,industryID,industryIDv2,industry,industryEn,establishedYear,noEmployees,noShareholders,foreignPercent,website,stockRating,deltaInWeek,deltaInMonth,deltaInYear,outstandingShare,issueShare,companyType,ticker
0,HOSE,Techcombank,289,8355,Ng√¢n h√†ng,Banks,1993,9757,1901,0.225,http://www.techcombank.com.vn,4.2,0.002,-0.068,-0.122,3517.2,3517.2,NH,TCB

### üßß L·ªãch s·ª≠ chi tr·∫£ c·ªï t·ª©c

In [ ]:
dividend_history("VNM")

   exerciseDate  cashYear  cashDividendPercentage issueMethod
0      22/12/22      2022                   0.140        cash
1      06/07/22      2021                   0.095        cash
2      06/07/22      2022                   0.150        cash
3      10/01/22      2021                   0.140        cash
4      07/09/21      2021                   0.150        cash
5      07/06/21      2020                   0.110        cash
6      05/01/21      2020                   0.100        cash
7      29/09/20      2020                   0.200        cash
8      29/06/20      2019                   0.150        cash
9      26/12/19      2019                   0.100        cash
10     16/09/19      2019                   0.200        cash
11     05/06/19      2018                   0.150        cash
12     27/12/18      2018                   0.100        cash
13     05/09/18      2018                   0.200        cash
14     05/06/18      2017                   0.150        cash
15     28/12/17      2017                   0.150        cash
16     14/08/17      2017                   0.200        cash
17     04/05/17      2016                   0.200        cash
18     19/08/16      2016                   0.400        cash
19     03/06/16      2015                   0.200        cash

### Financial analysis

#### Financial Ratio (TCBS)

In [ ]:
financial_ratio("TCB", 'quarterly', True)

range,Q1-2023,Q4-2022,Q3-2022,Q2-2022,Q1-2022,Q4-2021,Q3-2021,Q2-2021,Q1-2021,Q4-2020,...,Q4-2015,Q3-2015,Q2-2015,Q1-2015,Q4-2014,Q3-2014,Q2-2014,Q1-2014,Q4-2013,Q3-2013
ticker,TCB,TCB,TCB,TCB,TCB,TCB,TCB,TCB,TCB,TCB,...,TCB,TCB,TCB,TCB,TCB,TCB,TCB,TCB,TCB,TCB
quarter,Q1,Q4,Q3,Q2,Q1,Q4,Q3,Q2,Q1,Q4,...,Q4,Q3,Q2,Q1,Q4,Q3,Q2,Q1,Q4,Q3
year,2023,2022,2022,2022,2022,2021,2021,2021,2021,2020,...,2015,2015,2015,2015,2014,2014,2014,2014,2013,2013
priceToEarning,6.0,4.5,5.4,6.2,9.1,9.7,10.0,11.5,10.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
priceToBook,1.0,0.8,1.0,1.2,1.8,1.9,2.0,2.2,1.8,1.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
roe,0.178,0.197,0.216,0.217,0.217,0.217,0.221,0.215,0.2,0.181,...,0.1,0.09,0.075,0.059,0.075,0.07,0.063,0.055,0.047,-0.047
roa,0.029,0.032,0.035,0.036,0.036,0.036,0.037,0.036,0.033,0.03,...,0.009,0.008,0.007,0.005,0.006,0.006,0.005,0.005,0.004,-0.004
earningPerShare,5442,5729,6026,5753,5443,5128,4946,4594,4055,3504,...,451,395,326,247,308,284,253,219,182,-190
bookValuePerShare,33539,32248,31245,29703,28029,26457,25128,23854,22487,21214,...,4707,4602,4487,4356,4272,4221,4175,4115,3964,3944
interestMargin,0.047,0.053,0.056,0.058,0.057,0.057,0.057,0.056,0.052,0.049,...,0.043,0.043,0.044,0.041,0.039,0.036,0.031,0.03,0.03,0.029
nonInterestOnToi,0.298,0.277,0.268,0.293,0.189,0.287,0.232,0.284,0.314,0.297,...,0.17,0.257,0.196,0.292,0.181,0.228,0.169,0.161,0.186,0.206
badDebtPercentage,0.008,0.009,0.006,0.006,0.007,0.007,0.006,0.004,0.004,0.005,...,0.017,0.023,0.024,0.026,0.024,0.03,0.041,0.046,0.037,0.059
provisionOnBadDebt,1.338,1.25,1.65,1.716,1.608,1.629,1.844,2.589,2.194,1.71,...,0.625,0.529,0.472,0.485,0.501,0.452,0.368,0.386,0.462,0.373
costOfFinancing,0.035,0.028,0.023,0.022,0.021,0.022,0.023,0.025,0.028,0.031,...,0.038,0.042,0.044,0.045,0.048,0.05,0.052,0.055,0.059,0.063
equityOnTotalAsset,0.163,0.162,0.164,0.167,0.16,0.164,0.163,0.166,0.171,0.17,...,0.086,0.092,0.091,0.085,0.085,0.087,0.086,0.088,0.088,0.083
equityOnLoan,0.253,0.27,0.268,0.267,0.27,0.268,0.275,0.268,0.267,0.269,...,0.148,0.172,0.173,0.172,0.187,0.207,0.198,0.201,0.198,0.198
costToIncome,0.338,0.423,0.292,0.298,0.3,0.334,0.299,0.281,0.287,0.297,...,0.467,0.431,0.372,0.316,0.566,0.369,0.502,0.512,0.588,0.68
equityOnLiability,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,...,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
epsChange,-0.05,-0.049,0.047,0.057,0.061,0.037,0.077,0.133,0.157,0.081,...,0.141,0.211,0.317,-0.196,0.084,0.122,0.156,0.199,-1.958,4.569
assetOnEquity,6.1,6.2,6.1,6.0,6.2,6.1,6.1,6.0,5.9,5.9,...,11.6,10.8,11.0,11.7,11.7,11.5,11.7,11.4,11.4,12.0
preProvisionOnToi,0.534,0.434,0.566,0.564,0.579,0.508,0.558,0.574,0.578,0.553,...,0.412,0.442,0.494,0.525,0.308,0.477,0.388,0.38,0.309,0.176
postTaxOnToi,0.488,0.379,0.519,0.534,0.561,0.461,0.505,0.522,0.501,0.516,...,0.151,0.192,0.229,0.119,0.093,0.078,0.139,0.341,0.071,0.042
loanOnEarnAsset,0.725,0.684,0.698,0.695,0.643,0.665,0.644,0.677,0.696,0.681,...,0.638,0.594,0.581,0.55,0.51,0.471,0.49,0.502,0.509,0.488
loanOnAsset,0.643,0.602,0.612,0.628,0.594,0.611,0.593,0.622,0.64,0.631,...,0.581,0.536,0.526,0.495,0.457,0.419,0.433,0.438,0.442,0.422
loanOnDeposit,1.202,1.173,1.287,1.218,1.112,1.104,1.015,1.084,1.031,1.0,...,0.785,0.687,0.705,0.699,0.611,0.587,0.593,0.579,0.586,0.597
depositOnEarnAsset,0.603,0.583,0.542,0.571,0.578,0.602,0.634,0.625,0.675,0.68,...,0.813,0.864,0.824,0.786,0.835,0.803,0.826,0.867,0.869,0.817
badDebtOnAsset,0.005,0.005,0.004,0.004,0.004,0.004,0.003,0.002,0.002,0.003,...,0.01,0.012,0.013,0.013,0.011,0.012,0.018,0.02,0.016,0.025
liquidityOnLiability,0.305,0.347,0.329,0.343,0.404,0.382,0.405,0.37,0.354,0.372,...,0.38,0.426,0.438,0.463,0.501,0.531,0.513,0.499,0.493,0.509
payableOnEquity,5.1,5.2,5.1,5.0,5.2,5.1,5.1,5.0,4.9,4.9,...,10.6,9.8,10.0,10.7,10.7,10.5,10.7,10.4,10.4,11.0
cancelDebt,0.002,0.002,0.002,0.002,0.002,0.004,0.004,0.008,0.012,0.013,...,0.036,0.039,0.047,0.047,0.033,0.038,0.02,0.019,0.02,0.022
bookValuePerShareChange,0.04,0.032,0.052,0.06,0.059,0.053,0.053,0.061,0.06,0.057,...,0.023,0.026,0.03,0.02,0.012,0.011,0.015,0.038,0.005,0.005
creditGrowth,0.273,0.211,0.279,0.25,0.234,0.252,0.392,0.353,0.277,0.202,...,0.39,0.314,0.228,0.235,0.143,0.022,0.06,0.05,0.029,0.141

#### Financial report
> Income Statement, Balance Sheet, Cashflow

In [ ]:
financial_flow(symbol="TCB", report_type='incomestatement', report_range='quarterly')

,ticker,revenue,yearRevenueGrowth,quarterRevenueGrowth,costOfGoodSold,grossProfit,operationExpense,operationProfit,yearOperationProfitGrowth,quarterOperationProfitGrowth,...,postTaxProfit,shareHolderIncome,yearShareHolderIncomeGrowth,quarterShareHolderIncomeGrowth,investProfit,serviceProfit,otherProfit,provisionExpense,operationIncome,ebitda
index,,,,,,,,,,,,,,,,,,,,,
2023-Q2,TCB,6295,-0.192,-0.036,None,None,-2869,9325,-0.154,0.003,...,4503,4455,-0.232,-0.009,72,2019,939,-807,6456,None
2023-Q1,TCB,6527,-0.195,-0.043,None,None,-3142,9300,-0.071,-0.014,...,4537,4497,-0.183,0.269,-228,1944,1057,-535,6158,None
2022-Q4,TCB,6819,-0.059,-0.099,None,None,-3990,9427,-0.072,-0.088,...,3572,3544,-0.228,-0.331,-422,2535,495,-691,5437,None
2022-Q3,TCB,7565,0.122,-0.029,None,None,-3014,10338,0.178,-0.062,...,5368,5298,0.221,-0.087,209,2123,441,-609,7324,None
2022-Q2,TCB,7794,0.183,-0.039,None,None,-3286,11024,0.198,0.102,...,5882,5804,0.232,0.054,411,2077,743,-417,7739,None
2022-Q1,TCB,8111,0.325,0.120,None,None,-3003,10006,0.120,-0.015,...,5615,5505,0.252,0.199,-280,1687,488,-218,7004,None
2021-Q4,TCB,7245,0.328,0.074,None,None,-3392,10159,0.309,0.157,...,4684,4592,0.162,0.059,279,2103,532,-627,6767,None
2021-Q3,TCB,6742,0.310,0.023,None,None,-2628,8779,0.171,-0.046,...,4432,4338,0.400,-0.079,384,1497,156,-589,6151,None
2021-Q2,TCB,6588,0.674,0.076,None,None,-2591,9206,0.562,0.031,...,4807,4711,0.672,0.072,717,1457,444,-598,6615,None
2021-Q1,TCB,6124,0.454,0.122,None,None,-2563,8932,0.481,0.151,...,4476,4397,0.790,0.112,812,1325,671,-851,6369,None
2020-Q4,TCB,5456,0.397,0.060,None,None,-2307,7762,0.171,0.035,...,4008,3953,0.305,0.276,546,1069,691,-366,5455,None
2020-Q3,TCB,5148,0.382,0.308,None,None,-2489,7497,0.399,0.272,...,3180,3099,0.213,0.100,378,1145,827,-1034,5008,None
2020-Q2,TCB,3935,0.230,-0.066,None,None,-1839,5895,0.257,-0.022,...,2889,2817,0.169,0.147,298,1254,408,-439,4056,None
2020-Q1,TCB,4212,0.228,0.079,None,None,-2138,6030,0.373,-0.090,...,2506,2456,0.179,-0.189,602,862,354,-772,3893,None
2019-Q4,TCB,3904,0.319,0.048,None,None,-2337,6627,0.311,0.237,...,3119,3029,0.344,0.186,746,1364,613,-312,4290,None
2019-Q3,TCB,3725,0.195,0.165,None,None,-1794,5359,0.156,0.142,...,2583,2554,0.240,0.060,579,635,419,-366,3564,None
2019-Q2,TCB,3199,0.277,-0.068,None,None,-1574,4691,0.173,0.068,...,2433,2409,0.147,0.157,267,756,469,-72,3117,None
2019-Q1,TCB,3430,0.347,0.159,None,None,-1607,4392,-0.058,-0.131,...,2092,2083,0.016,-0.076,158,498,306,-167,2784,None
2018-Q4,TCB,2959,0.198,-0.051,None,None,-2109,5055,-0.132,0.091,...,2265,2254,-0.118,0.094,93,1423,580,-60,2947,None
2018-Q3,TCB,3117,0.516,0.245,None,None,-1315,4635,0.331,0.159,...,2060,2060,0.207,-0.020,126,932,460,-743,3320,None
2018-Q2,TCB,2504,0.127,-0.017,None,None,-1150,3998,0.146,-0.142,...,2101,2101,0.867,0.025,442,688,364,-220,2848,None
2018-Q1,TCB,2547,0.166,0.031,None,None,-1267,4660,0.268,-0.200,...,2049,2049,0.934,-0.198,1392,492,229,-824,3393,None
2017-Q4,TCB,2469,0.290,0.201,None,None,-1553,5823,0.860,0.672,...,2555,2555,1.826,0.498,459,2247,647,-1073,4269,None
2017-Q3,TCB,2055,0.021,-0.075,None,None,-1218,3482,0.238,-0.002,...,1706,1706,0.669,0.517,479,644,303,-157,2263,None
2017-Q2,TCB,2222,0.011,0.017,None,None,-972,3490,0.230,-0.051,...,1125,1125,0.420,0.062,236,500,531,-1109,2518,None
2017-Q1,TCB,2184,0.080,0.141,None,None,-1080,3675,0.162,0.174,...,1059,1059,1.227,0.172,712,546,233,-1270,2595,None
2016-Q4,TCB,1915,-0.071,-0.049,None,None,-1282,3131,0.261,0.113,...,904,904,1.406,-0.116,239,400,578,-716,1849,None
2016-Q3,TCB,2012,0.290,-0.084,None,None,-1094,2813,0.340,-0.008,...,1022,1022,1.530,0.291,218,499,83,-442,1719,None
2016-Q2,TCB,2198,0.275,0.087,None,None,-927,2837,0.322,-0.103,...,792,792,0.614,0.665,173,304,161,-905,1910,None
2016-Q1,TCB,2022,0.086,-0.019,None,None,-982,3163,0.204,0.274,...,476,476,0.517,0.266,217,558,366,-1599,2181,None
2015-Q4,TCB,2062,0.296,0.321,None,None,-1161,2484,0.278,0.183,...,376,376,1.089,-0.070,-177,351,248,-837,1323,None
2015-Q3,TCB,1560,-0.027,-0.095,None,None,-905,2100,0.011,-0.021,...,404,404,1.496,-0.176,-59,337,262,-675,1195,None
2015-Q2,TCB,1724,0.343,-0.074,None,None,-799,2146,0.389,-0.184,...,491,491,1.284,0.565,-14,232,202,-723,1347,None
2015-Q1,TCB,1862,0.439,0.170,None,None,-832,2628,0.704,0.352,...,314,314,-0.403,0.743,220,219,327,-1388,1796,None
2014-Q4,TCB,1591,0.437,-0.008,None,None,-1099,1943,0.430,-0.064,...,180,180,0.869,0.111,-22,232,142,-590,844,None
2014-Q3,TCB,1604,0.575,0.249,None,None,-766,2077,0.619,0.344,...,162,162,2.027,-0.247,140,240,92,-1096,1311,None
2014-Q2,TCB,1284,0.395,-0.008,None,None,-776,1545,0.120,0.002,...,215,215,1.266,-0.591,-7,215,53,-493,769,None
2014-Q1,TCB,1294,0.003,0.169,None,None,-790,1542,-0.052,0.134,...,525,525,0.322,4.457,92,435,-279,-79,752,None
2013-Q4,TCB,1107,0.164,0.087,None,None,-800,1359,0.156,0.059,...,96,96,NaN,0.799,-2,218,36,-431,560,None
2013-Q3,TCB,1018,-0.280,0.106,None,None,-873,1283,-0.065,-0.070,...,53,53,-0.911,-0.436,-8,151,121,-313,410,None
2013-Q2,TCB,921,-0.357,-0.286,None,None,-771,1379,0.024,-0.152,...,95,95,-0.843,-0.761,89,244,125,-353,608,None
2013-Q1,TCB,1290,-0.021,0.356,None,None,-912,1627,-0.121,0.384,...,397,397,-0.613,NaN,82,122,132,-317,714,None
2012-Q4,TCB,951,NaN,-0.327,None,None,-1263,1175,NaN,-0.144,...,-1216,-1216,NaN,NaN,-81,39,266,-1128,-88,None
2012-Q3,TCB,1414,NaN,-0.013,None,None,-615,1373,NaN,0.019,...,603,603,NaN,0.002,-201,151,9,-155,758,None
2012-Q2,TCB,1432,NaN,0.086,None,None,-574,1347,NaN,-0.272,...,602,602,NaN,-0.414,-119,228,-194,-170,773,None
2012-Q1,TCB,1318,NaN,NaN,None,None,-826,1851,NaN,NaN,...,1028,1028,NaN,NaN,120,147,266,3,1025,None
2010-Q2,TCB,814,NaN,NaN,None,None,-446,972,NaN,NaN,...,384,384,NaN,NaN,26,104,28,-142,526,None

In [ ]:
financial_flow(symbol="TCB", report_type='balancesheet', report_range='quarterly')

,ticker,shortAsset,cash,shortInvest,shortReceivable,inventory,longAsset,fixedAsset,asset,debt,...,oweCentralBank,valuablePaper,payableInterest,receivableInterest,deposit,otherDebt,fund,unDistributedIncome,minorShareHolderProfit,payable
index,,,,,,,,,,,,,,,,,,,,,
2023-Q2,TCB,None,3113,None,None,None,None,8742,732470,610005,...,136,54958,8118,8875,381947,54958,43387,41654,1218,610005
2023-Q1,TCB,None,2852,None,None,None,None,8275,723518,605552,...,122,46729,8303,8365,387298,46729,11607,68979,1170,605552
2022-Q4,TCB,None,4216,None,None,None,None,8411,699033,585608,...,8,34007,6144,8029,358404,34007,11609,64483,1129,585608
2022-Q3,TCB,None,3026,None,None,None,None,7282,671354,561454,...,6,42858,4750,8681,318919,42858,9151,64059,1032,561454
2022-Q2,TCB,None,3204,None,None,None,None,7220,623739,519263,...,2,37122,3375,8072,321634,37122,9152,58761,963,519263
2022-Q1,TCB,None,3277,None,None,None,None,7265,615270,516684,...,223,32731,3369,7253,328914,32731,9156,52958,884,516684
2021-Q4,TCB,None,3579,None,None,None,None,7224,568811,475756,...,1,33680,3098,5808,314753,33680,9156,47469,845,475756
2021-Q3,TCB,None,3303,None,None,None,None,7106,541635,453251,...,15,34003,3074,6224,316376,34003,6784,45261,753,453251
2021-Q2,TCB,None,3554,None,None,None,None,6739,504304,420403,...,0,27678,2643,5736,289335,27678,6790,40924,659,420403
2021-Q1,TCB,None,4273,None,None,None,None,4726,462823,383730,...,2,26035,2897,5664,287446,26035,6790,36213,563,383730
2020-Q4,TCB,None,3664,None,None,None,None,4613,439603,364988,...,0,27900,3252,5185,277459,27900,6790,31816,484,364988
2020-Q3,TCB,None,4205,None,None,None,None,4273,401462,330853,...,0,22785,3736,5988,252572,22785,5172,29503,457,330853
2020-Q2,TCB,None,4106,None,None,None,None,4126,395861,328432,...,0,23404,3928,5598,249857,23404,5173,26404,376,328432
2020-Q1,TCB,None,4151,None,None,None,None,3493,391808,327217,...,1004,17472,3613,6614,235099,17472,5173,23587,340,327217
2019-Q4,TCB,None,4821,None,None,None,None,3208,383699,321627,...,0,17461,3479,5554,231297,17461,5173,21130,292,321627
2019-Q3,TCB,None,5409,None,None,None,None,3504,367538,308598,...,2000,14489,3542,5112,218655,14489,3858,19439,201,308598
2019-Q2,TCB,None,5034,None,None,None,None,3439,360662,304296,...,3063,12642,3797,4649,220263,12642,3866,16885,173,304296
2019-Q1,TCB,None,4785,None,None,None,None,3104,326112,272237,...,2699,12866,3498,4739,207978,12866,3868,14486,79,272237
2018-Q4,TCB,None,2606,None,None,None,None,1719,321049,269267,...,6025,13178,3425,5738,201471,13178,3868,12403,69,269267
2018-Q3,TCB,None,4042,None,None,None,None,1586,311796,262315,...,2000,17240,3563,6036,193583,17240,2651,11388,0,262315
2018-Q2,TCB,None,3590,None,None,None,None,1489,300405,252975,...,2000,18904,3079,4672,186283,18904,6148,15156,0,252975
2018-Q1,TCB,None,3671,None,None,None,None,1483,273153,235537,...,2000,20074,2861,4400,181391,20074,6148,13055,0,235537
2017-Q4,TCB,None,2344,None,None,None,None,1511,269392,242462,...,1000,17640,2764,3877,170971,17640,6157,10997,0,242462
2017-Q3,TCB,None,3137,None,None,None,None,1461,233502,214069,...,2000,11495,2938,5728,166323,11495,5219,9380,0,214069
2017-Q2,TCB,None,2873,None,None,None,None,1473,232342,210591,...,1000,10320,2888,5231,172103,10320,5219,7673,0,210591
2017-Q1,TCB,None,3179,None,None,None,None,1529,232522,211870,...,432,10397,2426,4440,178623,10397,5219,6548,0,211870
2016-Q4,TCB,None,2957,None,None,None,None,1583,235363,215731,...,1448,10415,2195,3989,173449,10415,5223,5531,0,215731
2016-Q3,TCB,None,2930,None,None,None,None,1513,222770,204027,...,0,9842,2353,4758,163515,9842,4745,5125,0,204027
2016-Q2,TCB,None,2840,None,None,None,None,1562,212676,194941,...,0,8048,2488,4365,150033,8048,4745,4102,0,194941
2016-Q1,TCB,None,2750,None,None,None,None,880,199003,182047,...,0,8103,2283,3362,148817,8103,4745,3310,0,182047
2015-Q4,TCB,None,2754,None,None,None,None,882,192009,175481,...,0,8134,2087,3047,142240,8134,4753,2897,0,175481
2015-Q3,TCB,None,2758,None,None,None,None,931,175217,159056,...,0,6395,1982,3874,136631,6395,4549,2740,0,159056
2015-Q2,TCB,None,2559,None,None,None,None,975,172744,156989,...,0,6477,1901,3590,129016,6477,4550,2337,0,156989
2015-Q1,TCB,None,2495,None,None,None,None,1011,179100,163806,...,203,6442,1829,3278,126886,6442,4550,1858,0,163806
2014-Q4,TCB,None,2724,None,None,None,None,1037,175915,160916,...,0,6254,1908,3341,131438,6254,4552,1570,0,160916
2014-Q3,TCB,None,2277,None,None,None,None,996,170768,155946,...,0,5571,1665,4692,121733,5571,4371,1572,0,155946
2014-Q2,TCB,None,2469,None,None,None,None,1022,171081,156420,...,0,4619,2265,5430,124743,4619,0,1410,0,156420
2014-Q1,TCB,None,2123,None,None,None,None,981,164135,149686,...,0,4659,2309,5508,124014,4659,4372,1194,0,149686
2013-Q4,TCB,None,2291,None,None,None,None,1033,158897,144977,...,0,5643,1861,5257,119978,5643,4370,672,0,144977
2013-Q3,TCB,None,2421,None,None,None,None,1069,165879,152031,...,0,4536,1734,5637,117236,4536,4279,718,0,152031
2013-Q2,TCB,None,2999,None,None,None,None,1033,171394,157611,...,0,6670,2151,6986,111591,6670,4279,627,0,157611
2013-Q1,TCB,None,3669,None,None,None,None,1125,175863,162188,...,0,7646,1901,5874,114096,7646,3476,1355,0,162188
2012-Q4,TCB,None,4529,None,None,None,None,1146,179733,166443,...,0,10451,1783,5074,111462,10451,3475,966,0,166443
2012-Q3,TCB,None,6523,None,None,None,None,1257,178267,163863,...,0,18987,2278,5643,99560,18987,3332,2291,0,163863
2012-Q2,TCB,None,5853,None,None,None,None,1240,179792,165883,...,2900,20819,2426,5198,96739,20819,3339,1892,0,165883

In [ ]:
financial_flow(symbol="TCB", report_type='cashflow', report_range='quarterly')

        ticker  investCost  fromInvest  fromFinancial  fromSale  freeCashFlow
index
2023-Q2    TCB        -395       -3042              0     -2480           NaN
2023-Q1    TCB         -73         260              1    -21875           0.0
2022-Q4    TCB        -720        -679           -700     19130           0.0
2022-Q3    TCB        -212        -205             63     15950           0.0
2022-Q2    TCB         -65         -62              0     -4020           0.0
2022-Q1    TCB        -113        -111            -73     24408           0.0
2021-Q4    TCB        -280        -276              0     -9328           0.0
2021-Q3    TCB        -180        -179             60     17974           0.0
2021-Q2    TCB        -337        -282              0     11205           0.0
2021-Q1    TCB        -143        -143              0     -6954           0.0
2020-Q4    TCB        -268        -263           -137      -479           0.0
2020-Q3    TCB        -157        -157              0    -12204           0.0
2020-Q2    TCB         -61         -56            -37     -1274           0.0
2020-Q1    TCB        -195        -194              0      3884           0.0
2019-Q4    TCB         -84         -79          -2165      1959           0.0
2019-Q3    TCB         -54         -45          -1000       797           0.0
2019-Q2    TCB        -110        -109             12      3717           0.0
2019-Q1    TCB         -10          11             58      6253           0.0
2018-Q4    TCB        -215        -215             58     -5302           0.0
2018-Q3    TCB        -128        -128          -1508     -5810           0.0
2018-Q2    TCB         -28         -34           6518     19534           0.0
2018-Q1    TCB         -15         884           8632     -8163           0.0
2017-Q4    TCB        -110        -105           4800      1506           0.0
2017-Q3    TCB         -51         -51          -4043      2862           0.0
2017-Q2    TCB          -6          -5             16     -1675           0.0
2017-Q1    TCB          -9         917             -8      4385           0.0
2016-Q4    TCB        -136        -134              0      1381           0.0
2016-Q3    TCB         -14         -14              0      -977           0.0
2016-Q1    TCB         -56         -57              0     -6851           0.0
2015-Q4    TCB         -46          23              0     -5688           0.0
2015-Q3    TCB         -20          37              0       455           0.0
2015-Q2    TCB         -25         -18              0      6506           0.0
2015-Q1    TCB         -33         -33              0     -8160           0.0
2014-Q4    TCB        -122        -631              0     -5217           0.0
2014-Q3    TCB         -33         -29              0      5048           0.0
2014-Q2    TCB         -28         -19              0      2291           0.0
2014-Q1    TCB          -5         -11              0      -350           0.0
2013-Q4    TCB        -198        -201              0     -8213           0.0
2013-Q3    TCB         -66         -93              0      2271           0.0
2013-Q2    TCB         -25         -16              0      2008           0.0
2013-Q1    TCB         -35         -29              0     -1153           0.0
2012-Q3    TCB         -66       -1391              0     -2139           0.0

## 2.3. Technical Analysis

### üìà Historical Price

In [ ]:
stock_historical_data("GMD", "2021-01-01", "2022-02-25", "1D")

           time   open   high    low  close   volume ticker
0    2021-01-04  31390  32340  31200  31490  4226500    GMD
1    2021-01-05  31490  32770  31150  32150  4851900    GMD
2    2021-01-06  32530  32530  31490  31770  3641300    GMD
3    2021-01-07  32060  32820  30920  32340  5753700    GMD
4    2021-01-08  32720  33100  31870  32250  4587500    GMD
..          ...    ...    ...    ...    ...      ...    ...
279  2022-02-21  50530  51210  49950  49950  1489200    GMD
280  2022-02-22  49260  51120  48290  50920  3583400    GMD
281  2022-02-23  50920  51990  50630  50820  2823400    GMD
282  2022-02-24  50240  51510  48970  50140  2961300    GMD
283  2022-02-25  50730  51410  48970  49260  2841200    GMD

[284 rows x 7 columns]

In [ ]:
stock_historical_data("VNINDEX", "2023-06-01", "2023-06-29", "1D", "index")

          time     open     high      low    close      volume   ticker
0   2023-06-01  1076500  1078390  1071610  1078390   852591680  VNINDEX
1   2023-06-02  1084190  1092240  1083360  1090840  1025982016  VNINDEX
2   2023-06-05  1099660  1103810  1096760  1097820   942253440  VNINDEX
3   2023-06-06  1098800  1108310  1098280  1108310   837786240  VNINDEX
4   2023-06-07  1110790  1112280  1104260  1109540   995078784  VNINDEX
5   2023-06-08  1111730  1115140  1101320  1101320  1321305344  VNINDEX
6   2023-06-09  1103010  1107530  1097230  1107530   897118528  VNINDEX
7   2023-06-12  1110260  1116020  1100080  1116020   783528704  VNINDEX
8   2023-06-13  1117330  1122460  1116100  1122460   940781824  VNINDEX
9   2023-06-14  1124560  1129490  1117420  1117420   915957312  VNINDEX
10  2023-06-15  1116990  1120130  1112110  1116970   703437888  VNINDEX
11  2023-06-16  1117080  1128920  1112510  1115220  1157762560  VNINDEX
12  2023-06-19  1115590  1117230  1104730  1105400   807629888  VNINDEX
13  2023-06-20  1107300  1111720  1102580  1111720   689274560  VNINDEX
14  2023-06-21  1112730  1118460  1110650  1118460   868996480  VNINDEX
15  2023-06-22  1126210  1127540  1122270  1125300   905032832  VNINDEX
16  2023-06-23  1126400  1130610  1122620  1129380   901592384  VNINDEX
17  2023-06-26  1129380  1134000  1119950  1132030  1035697024  VNINDEX
18  2023-06-27  1134360  1136490  1128820  1134330   711965952  VNINDEX
19  2023-06-28  1135780  1140560  1131860  1138350   871618048  VNINDEX
20  2023-06-29  1139420  1140430  1125390  1125390   902448832  VNINDEX

In [ ]:
stock_historical_data (symbol='VN30F1M', start_date='2023-06-01', end_date='2023-06-17', resolution='1D', type='derivative')

          time  open  high   low  close  volume   ticker
0   2023-06-01  1062  1065  1056   1065  151091  VN30F1M
1   2023-06-02  1069  1084  1068   1078  212092  VN30F1M
2   2023-06-05  1082  1091  1082   1087  150708  VN30F1M
3   2023-06-06  1085  1096  1084   1096  154919  VN30F1M
4   2023-06-07  1099  1100  1093   1098  157620  VN30F1M
5   2023-06-08  1098  1100  1089   1089  146445  VN30F1M
6   2023-06-09  1089  1095  1087   1095  145563  VN30F1M
7   2023-06-12  1098  1109  1091   1108  157940  VN30F1M
8   2023-06-13  1109  1116  1106   1115  172871  VN30F1M
9   2023-06-14  1115  1123  1112   1112  184853  VN30F1M
10  2023-06-15  1110  1117  1108   1109  149860  VN30F1M
11  2023-06-16  1104  1122  1101   1102  245434  VN30F1M

## 2.4. üëì Stock screening

### Comparison

#### üìä Price Table

In [ ]:
price_depth('TCB,SSI,VND')

,M√£ CP,Gi√° tham chi·∫øu,Gi√° Tr·∫ßn,Gi√° S√†n,Gi√° mua 3,KL mua 3,Gi√° mua 2,KL mua 2,Gi√° mua 1,KL mua 1,...,Gi√° b√°n 1,KL b√°n 1,Gi√° b√°n 2,KL b√°n 2,Gi√° b√°n 3,KL b√°n 3,T·ªïng Kh·ªëi L∆∞·ª£ng,ƒêTNN Mua,ƒêTNN B√°n,ƒêTNN Room
0,TCB,32450,34700,30200,ATC,15090,34000,3000,33700,100,...,ATC,12230,32600,10,33000,300,1292570,5000,5000,0
1,SSI,28700,30700,26700,ATC,26590,29000,100,28800,1030,...,ATC,24750,26700,10,26800,10,1395260,178813,85568,798045448
2,VND,19050,20350,17750,ATC,10910,20350,10,20300,10,...,ATC,82910,17750,1010,17800,10,2412020,70180,15848,931044007

In [ ]:
price_board('TCB,SSI,VND')

,M√£ CP,Gi√°,KLBD/TB5D,T.ƒë·ªô GD,KLGD r√≤ng(CM),%KLGD r√≤ng (CM),RSI,MACD Hist,MACD Signal,T√≠n hi·ªáu KT,...,Kh·ªõp nhi·ªÅu nh·∫•t,ƒê.g√≥p VNINDEX,%Gi√° - %VNI (1M),%Gi√° - %VNI (1Y),VNINDEX P/E,VNINDEX P/B,vnid3d,vnid1m,vnid3m,vnid1y
0,TCB,33550.0,2.64,2.87,-80100,-8.4,67.163258,0.08,Buy,Buy,...,33550,0.97,-6.8,-12.2,14.3733,1.72819,1.5,5.4,14.2,-0.3
1,SSI,28800.0,0.89,0.72,-152000,-17.8,70.287497,-0.02,Sell,Buy,...,28950,0.04,5.0,43.1,14.3733,1.72819,1.5,5.4,14.2,-0.3
2,VND,19000.0,1.09,2.38,9600,0.2,56.717379,0.04,Buy,Buy,...,19000,-0.02,-8.7,0.9,14.3733,1.72819,1.5,5.4,14.2,-0.3

#### üè≠ Industry Analysis

In [ ]:
industry_analysis("VNM")

M√£ CP,VNM,MSN,MCH,QNS,KDC,IDP,SBT,MML,PAN,MCM,VSF,VOC,OCH,VSN,CLX,LSS,KTC,HSL,HKB
V·ªën h√≥a (t·ª∑),153821,120191,53930,19067,16591,14300,12663,10085,4784,4398,4320,2903,1680,1672,1339,1100,419,197,46
Gi√°,73600,84000,75264,53417,60900,242600,17100,30829,22900,36453,8639,24180,8400,20666,15465,14750,11500,5570,600
S·ªë phi√™n tƒÉng/gi·∫£m li√™n ti·∫øp,2,2,1,-1,0,0,-1,1,2,-2,1,-1,2,0,0,4,0,2,0
P/E,19.0,55.0,9.5,13.4,-210.0,18.0,18.3,-18.7,14.7,11.1,-417.0,2.4,15.2,12.3,7.5,27.7,40.9,13.1,-0.5
PEG,-0.9,-0.7,-8.4,1.0,1.9,-1.8,-1.5,0.1,-2.1,5.6,4.3,0.0,-0.1,-1.7,1.2,2.6,-0.9,0.7,0.3
P/B,4.9,4.6,2.3,2.5,2.4,7.1,1.3,1.9,1.1,1.7,1.9,1.1,1.3,1.3,0.8,0.7,1.1,0.5,0.2
EV/EBITDA,14.3,21.5,8.6,11.2,36.8,14.2,14.4,-266.6,7.5,12.1,27.1,-8.8,6.3,8.7,11.0,7.2,20.6,11.5,-3.1
C·ªï t·ª©c,0.051,0.009,0.0,0.0,0.086,0.033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ROE,0.255,0.081,0.277,0.195,-0.011,0.442,0.076,-0.098,0.075,0.159,-0.005,0.591,0.086,0.107,0.118,0.025,0.025,0.036,-0.263
ROA,0.159,0.016,0.175,0.128,-0.006,0.22,0.025,-0.042,0.021,0.14,-0.001,0.484,0.049,0.067,0.082,0.014,0.007,0.031,-0.15
Thanh to√°n l√£i vay,25.1,0.5,9.1,8.5,-0.2,19.4,0.9,-0.8,1.3,NaN,0.3,-2.0,-3.2,67.7,22.1,2.2,0.9,6.9,-4.4
Thanh to√°n hi·ªán h√†nh,2.2,0.8,2.7,1.8,1.6,1.5,1.2,1.4,1.3,8.6,1.0,4.2,1.9,2.5,3.1,1.3,0.9,9.7,0.3
Thanh to√°n nhanh,1.8,0.6,2.5,1.4,1.2,1.3,0.9,1.1,0.9,7.7,0.4,3.4,1.7,1.7,2.9,0.3,0.5,8.6,0.3
Bi√™n LNG,0.388,0.272,0.432,0.28,0.188,0.385,0.115,0.117,0.171,0.323,0.067,NaN,0.286,0.247,0.264,0.121,0.035,0.039,0.728
Bi√™n LNST,0.133,0.011,0.228,0.149,NaN,0.138,0.026,NaN,0.016,0.138,NaN,6.467,NaN,0.039,0.372,0.017,0.004,0.024,NaN
N·ª£/V·ªën CSH,0.2,2.0,0.3,0.4,0.6,0.4,1.3,1.0,0.7,0.0,1.5,0.1,0.1,0.0,0.0,0.4,2.3,0.0,0.5
N·ª£/EBITDA,0.8,7.6,1.1,1.5,8.1,0.7,7.2,-88.3,3.4,0.1,12.3,-1.1,0.7,1.1,0.4,2.6,15.5,0.8,-2.0
LNST 5 nƒÉm,-0.037,0.028,0.207,0.046,-0.04,NaN,0.12,NaN,0.001,0.098,NaN,NaN,NaN,0.012,0.065,-0.1,-0.157,-0.081,NaN
Doanh thu 5 nƒÉm,0.033,0.152,0.153,0.016,0.123,NaN,0.22,-0.239,0.274,0.049,-0.053,-0.181,-0.018,-0.002,0.088,-0.008,0.067,0.16,-0.474
LNST qu√Ω g·∫ßn nh·∫•t,-0.007,-0.519,-0.255,-0.258,NaN,0.316,0.443,NaN,-0.694,-0.088,NaN,NaN,NaN,-0.131,0.092,NaN,36.983,-0.44,NaN
Doanh thu qu√Ω g·∫ßn nh·∫•t,-0.076,-0.094,-0.252,0.093,0.125,-0.057,-0.181,0.031,-0.352,0.076,-0.31,1.434,-0.197,-0.134,-0.123,0.102,-0.122,-0.142,0.004
LNST nƒÉm t·ªõi,0.005,0.285,0.26,0.173,-0.202,0.074,0.047,-0.719,-0.041,NaN,-0.939,0.116,6.025,-0.034,0.09,-0.155,0.813,0.022,NaN
Doanh thu nƒÉm t·ªõi,0.05,0.2,0.3,0.162,0.283,0.1,0.1,-0.7,0.05,NaN,0.03,0.15,-0.5,0.1,0.3,-0.08,-0.06,0.02,NaN
RSI,67.2,70.2,71.8,71.1,70.7,56.2,70.4,45.8,79.7,59.7,63.2,48.9,56.8,56.7,62.7,72.6,80.2,35.9,60.0
rs,49.0,50.0,44.0,76.0,42.0,63.0,61.0,23.0,74.0,39.0,71.0,40.0,48.0,39.0,45.0,91.0,52.0,NaN,70.0

#### üî¨ Stocks List Analysis

In [ ]:
stock_ls_analysis("TCB, BID, CEO, GMD")

M√£ CP                            BID    GMD     TCB    CEO
V·ªën h√≥a (t·ª∑)                  236739  17721  114134   9172
Gi√°                            46800  58800   32450  18000
S·ªë phi√™n tƒÉng/gi·∫£m li√™n ti·∫øp       2      2       2      0
P/E                             11.8   19.2     6.0   33.7
PEG                              0.2    0.7  -389.7    0.4
P/B                              2.2    2.5     1.0    2.8
C·ªï t·ª©c                           0.0    0.0     0.0    0.0
ROE                             0.21  0.135   0.178  0.086
ROA                             0.01  0.076   0.029   0.04
N·ª£/V·ªën CSH                      18.2    0.2     5.1    0.3
LNST 5 nƒÉm                     0.218  0.144   0.256  0.094
Doanh thu 5 nƒÉm                0.123 -0.004     0.2  0.068
LNST qu√Ω g·∫ßn nh·∫•t              0.306  0.071   0.269 -0.847
Doanh thu qu√Ω g·∫ßn nh·∫•t        -0.023 -0.154  -0.014 -0.761
LNST nƒÉm t·ªõi                  -0.023   0.62  -0.084 -0.012
Doanh thu nƒÉm t·ªõi              0.124   -0.1   0.084   -0.1
RSI                             61.2   76.7    56.3   54.4
RS                              56.0   66.0    34.0   34.0

### Rating & Evaluation

#### ‚≠êGeneral Rating

In [ ]:
general_rating("VNM")

,stockRating,valuation,financialHealth,businessModel,businessOperation,rsRating,taScore,ticker,highestPrice,lowestPrice,priceChange3m,priceChange1y,beta,alpha
0,3.7,1.4,4.8,3.9,2.8,2.2,1.0,VNM,83504.0,65500.0,0.044,0.023,0.44,0.0017

#### üå± Business Model Rating

In [ ]:
biz_model_rating("VNM")

,ticker,businessModel,businessEfficiency,assetQuality,cashFlowQuality,bom,businessAdministration,productService,businessAdvantage,companyPosition,industry,operationRisk
0,VNM,3.9,3,4,4,4,4,4,4,4,4,4

#### üéÆ Business Operation Rating

In [ ]:
biz_operation_rating("VNM")

,industryEn,loanGrowth,depositGrowth,netInterestIncomeGrowth,netInterestMargin,costToIncome,netIncomeTOI,ticker,businessOperation,avgROE,avgROA,last5yearsNetProfitGrowth,last5yearsRevenueGrowth,last5yearsOperatingProfitGrowth,last5yearsEBITDAGrowth,last5yearsFCFFGrowth,lastYearGrossProfitMargin,lastYearOperatingProfitMargin,lastYearNetProfitMargin,TOIGrowth
0,Food Products,None,None,None,None,None,None,VNM,2.8,5,5,1,2,1,1,2,4,3,3,None

#### üìë Financial Health Rating

In [ ]:
financial_health_rating("VNM")

,industryEn,loanDeposit,badLoanGrossLoan,badLoanAsset,provisionBadLoan,ticker,financialHealth,netDebtEquity,currentRatio,quickRatio,interestCoverage,netDebtEBITDA
0,Food Products,None,None,None,None,VNM,4.8,4,5,5,5,5

#### üí≤ Valuation Rating

In [ ]:
valuation_rating("VNM")

      industryEn ticker  valuation  pe  pb  ps  evebitda  dividendRate
0  Food Products    VNM        1.4   1   1   1         1             4

#### üí≥ Industry Financial Health

In [ ]:
industry_financial_health("VNM")

,industryEn,loanDeposit,badLoanGrossLoan,badLoanAsset,provisionBadLoan,ticker,financialHealth,netDebtEquity,currentRatio,quickRatio,interestCoverage,netDebtEBITDA
0,None,None,None,None,None,VNM,3.4,4,3,3,3,3

## üîé Stock Filter

In [ ]:
params = {
            "exchangeName": "HOSE,HNX,UPCOM",
            "marketCap": (100, 1000),
            "dividendYield": (5, 10)
        }

# √Åp d·ª•ng b·ªô l·ªçc v·ªõi h√†m ƒë·ªÉ l·∫•y k·∫øt qu·∫£

df = stock_screening_insights (params, size=1700, drop_lang='vi')
df

## 2.5. üß∞ Trading Center

#### üî• Intraday Trading Data

In [ ]:
stock_intraday_data(symbol='GMD', page_size=1000)

    ticker      time  orderType investorType  volume  averagePrice  orderCount
0      GMD  14:30:00     Buy Up        SHEEP   500.0       58600.0         1.0
1      GMD  14:29:55     Buy Up        SHEEP   200.0       58600.0         1.0
2      GMD  14:29:47  Sell Down        SHEEP  1800.0       58320.0         3.0
3      GMD  14:28:50     Buy Up        SHEEP   500.0       58500.0         1.0
4      GMD  14:28:42     Buy Up        SHEEP   200.0       58500.0         1.0
..     ...       ...        ...          ...     ...           ...         ...
560    GMD  09:15:59  Sell Down        SHEEP   300.0       59000.0         1.0
561    GMD  09:15:45  Sell Down        SHEEP   500.0       59000.0         3.0
562    GMD  09:15:39     Buy Up        SHEEP   700.0       59000.0         1.0
563    GMD  09:15:32     Buy Up        SHEEP  1000.0       59000.0         1.0
564    GMD  09:15:28     Buy Up        SHEEP   200.0       59000.0         1.0

[565 rows x 7 columns]

## 2.6. üõ° Derivatives

### Derivative matched data

In [ ]:
# Visit `https://livedragon.vdsc.com.vn/all/all.rv`, open `Developer Tools` (F12 or Ctrl + Shift + I) > Navigate to `Network` tab > Choose `Fetch/XHR` > Choose any requests in this tab, find in `Header` > Find `Cookie` > Copy value

cookie = 'YOUR COOKIE VALUE HERE'
derivatives_historical_match (symbol='VN30F2308', date='2023-07-24', cookie=cookie)

# III. üöö Data Export

## DataFrame to Google Sheets

D∆∞·ªõi ƒë√¢y l√† c√°ch xu·∫•t d·ªØ li·ªáu ƒë∆°n gi·∫£n qua Google Sheets, kh√¥ng c·∫ßn c√†i ƒë·∫∑t th√™m th∆∞ vi·ªán n√†o n·∫øu s·ª≠ d·ª•ng Google Colab. Kh√¥ng √°p d·ª•ng v·ªõi c√°c m√¥i tr∆∞·ªùng kh√°c

This following code apply for export data to Google Sheets from Google Colab only. If you run this code in local machine, it will not work.

In [ ]:
df = listing_companies() # G√°n b·∫•t c·ª© h√†m n√†o cho 1 bi·∫øn ƒë·ªÉ xu·∫•t d·ªØ li·ªáu, v√≠ d·ª• ·ªü ƒë√¢y l√† listing_companies
sheet_file = 'listing_companies' # ƒê·∫∑t t√™n cho file Google Sheets s·∫Ω t·∫°o (n·∫øu t·∫°o m·ªõi, d√πng file c√≥ s·∫µn th√¨ kh√¥ng c·∫ßn)

In [ ]:
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
from gspread_dataframe import set_with_dataframe

creds, _ = default()
gc = gspread.authorize(creds)from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
from gspread_dataframe import set_with_dataframe

creds, _ = default()
gc = gspread.authorize(creds)

### Update an entire worksheet with a DataFrame.

In [ ]:
sh = gc.create(sheet_file)
worksheet = gc.open(sheet_file).sheet1 # M·ªü sheet m·∫∑c ƒë·ªãnh ƒë·ªÉ xu·∫•t d·ªØ li·ªáu, ch·ªçn 1 trong 3 t√πy ch·ªçn v·ªõi bi·∫øn worksheet, d√πng d√≤ng n√†o b·ªè comment d√≤ng ƒë√≥, v√† comment d√≤ng kh√¥ng c·∫ßn d√πng
# worksheet = sh.add_worksheet(title="listing_companies", rows="1000", cols="20") # T·∫°o sheet m·ªõi ƒë·ªÉ xu·∫•t d·ªØ li·ªáu
# worksheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1vT6o6U1dHYMdHASZNKPvmzDRhgKTvQXsZ_46CvBOpuI').sheet1  # M·ªü file sheet c√≥ s·∫µn b·∫±ng URL
set_with_dataframe(worksheet, df)

### Update a cell range with a DataFrame

In [ ]:
worksheet = gc.open(sheet_file).sheet1 # M·ªü sheet m·∫∑c ƒë·ªãnh ƒë·ªÉ xu·∫•t d·ªØ li·ªáu, ch·ªçn 1 trong 3 t√πy ch·ªçn v·ªõi bi·∫øn worksheet, d√πng d√≤ng n√†o b·ªè comment d√≤ng ƒë√≥, v√† comment d√≤ng kh√¥ng c·∫ßn d√πng

cell_list = worksheet.range('A1:C2') # Ch·ªçn v√πng d·ªØ li·ªáu tr√™n Google Sheets b·∫°n mu·ªën ch√®n d·ªØ li·ªáu t·ª´ DataFrame
# Update the data in the worksheet

for cell, value in zip(cell_list, df.values.flatten()):
    cell.value = value

worksheet.update_cells(cell_list)